#splash {
	width: 750px;
}

form.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
form.flex input, form.flex select {
	flex-grow: 1;
}

#tblTickets, #tblEvents, #tblInput {
	width: 100%;
}
#tblEvents th, #tblEvents td {
	padding: 8px;
}
#tblTickets tr th:first-child,
#tblTickets tr td:first-child {
	text-align: center;
	width: 1%;
}
.checkedin,
.checkedin {
	background-color: rgba(80,220,80,0.4);
}
.checkedout,
.checkedout {
	background-color: rgba(220,40,40,0.4);
}
.revoked,
.revoked {
	text-decoration: line-through;
	opacity: 0.4;
}
#tblTickets tbody tr:hover th,
#tblTickets tbody tr:hover td,
#tblEvents tbody tr:hover th,
#tblEvents tbody tr:hover td {
	background-color: rgba(150,150,150,0.4);
}
#tblInput th {
	padding-right: 5px;
}
#tblInput th:not(:first-child) {
	padding-left: 10px;
}
#tblInput input:not([type=radio]):not([type=checkbox]),
#tblInput select, #tblInput button {
	width: 100%;
}
#tblInput td.multiinput {
	width: 100%;
	display: flex;
	align-items: stretch;
}
.legend {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.legend > * {
	padding: 2px 4px;
	border-radius: 2px;
	flex-basis: 100px;
	flex-grow: 1;
}
th.actions, td.actions {
	white-space: nowrap;
	text-align: right;
}
td.actions button {
	padding: 4px;
}

.actionbar {
	margin-top: 10px;
	display: flex;
}
.hint {
	font-size: 80%;
	opacity: 0.5;
}
.primary {
	font-weight: bold;
}
.voucheronly {
	font-size: 90%;
	color: red;
	font-style: italic;
}

label {
	display: flex;
	justify-content: center;
	align-items: center;
}
label input {
	margin: 0px 4px;
}

button.checkin {
	min-width: 120px;
}

.toggler {
	display: inline-block;
	border: 1px solid #D2D2D2;
	background-color: white;
	border-radius: 999px;
	padding: 8px 4px;
	margin-bottom: 10px;
}
.toggler a {
	border-radius: 999px;
	padding: 4px 16px;
	text-decoration: none;
}
.toggler a.active {
	color: white;
	background-color: #00afc8;
}
@media (prefers-color-scheme: dark) {
	.toggler {
		border: 1px solid #232323;
		background-color: black;
	}
	.toggler a.active {
		color: white;
		background-color: #008397;
	}
}
