#splash {
	width: 800px;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin-bottom: 3px;
}
.flex input, .flex select, .flex div.inputwithbutton {
	flex-grow: 1;
	position: relative;
}
.flex div.inputwithbutton input {
	width: 100%;
	padding-left: 45px;
}
.flex div.inputwithbutton button {
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	padding: 8px;
}

#tblTickets, #tblEvents {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
}
#tblEvents th, #tblEvents td {
	padding: 8px;
}
#tblTickets tr th:first-child,
#tblTickets tr td:first-child {
	text-align: center;
	width: 1%;
}
.checkedin,
.checkedin {
	background-color: rgba(80,220,80,0.4);
}
.checkedout,
.checkedout {
	background-color: rgba(220,40,40,0.4);
}
.revoked,
.revoked {
	text-decoration: line-through;
	opacity: 0.4;
}
#tblTickets tbody tr:hover th,
#tblTickets tbody tr:hover td,
#tblEvents tbody tr:hover th,
#tblEvents tbody tr:hover td {
	background-color: rgba(150,150,150,0.4);
}

.adminForm {
	width: 100%;
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 1fr) minmax(0, 2.5fr);
	align-items: center;
	row-gap: 5px;
	column-gap: 10px;
}
.adminForm > #btnQrLink {
	grid-column: 1/3;
}
.adminForm > #btnSave {
	grid-column: 3/5;
}
.adminForm label:nth-child(2n-1) {
	justify-content: start;
}
.adminForm input:not([type=radio]):not([type=checkbox]),
.adminForm select, .adminForm button {
	width: 100%;
}

table form {
	display: inline;
}
.legend {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 4px;
}
.legend > * {
	padding: 2px 4px;
	border-radius: 2px;
	flex-basis: 100px;
	flex-grow: 1;
}
th.actions, td.actions {
	white-space: nowrap;
	text-align: right;
}
td.actions button {
	padding: 4px;
}

.actionbar {
	margin-top: 10px;
	display: flex;
}
.hint {
	font-size: 80%;
	opacity: 0.5;
}
.primary {
	font-weight: bold;
}
.voucheronly {
	font-size: 90%;
	color: red;
	font-style: italic;
}

label {
	display: flex;
	justify-content: center;
	align-items: center;
}
label input {
	margin: 0px 4px;
}

button.checkin {
	min-width: 120px;
}

.scroll-h {
	overflow-x: auto;
}

.toggler {
	display: inline-block;
	border: 1px solid #D2D2D2;
	background-color: white;
	border-radius: 999px;
	padding: 8px 4px;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow-x: auto;
	max-width: 100%;
}
.toggler a {
	border-radius: 999px;
	padding: 4px 16px;
	text-decoration: none;
}
.toggler a.active {
	color: white;
	background-color: #00afc8;
}

.progressbar-container {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	white-space: nowrap;
	max-width: 100%;
	height: 22px;
	position: relative;
}
.progressbar-container.big {
	height: 40px;
	width: 180px;
}
.progressbar-container.stretch {
	display: flex;
}
.progressbar-container > .progresstext {
	display: inline-block;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	background: linear-gradient(to right, white var(--progress,0%), black 0);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.progressbar {
	flex-grow: 1;
	vertical-align: middle;
	display: inline-block;
	height: 100%;
	max-width: 100%;
	width: 100px;
	background-color: #EEEEEE;
	border-radius: 2px;
	overflow: hidden;
	text-align: left;
}
.progressbar > .progress {
	display: inline-block;
	height: 100%;
	width: var(--progress,0%);
	background-color: #00afc8;
	border-radius: 2px;
}
.progressbar-container.animated {
	--progress: 100% !important;
}
.progressbar-container.animated > .progressbar > .progress {
	width: 100%;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
	background-size: 1rem 1rem;
	animation: progressbar-stripes 1s linear infinite;
}
@keyframes progressbar-stripes {
	from { background-position: 1rem 0; }
	to { background-position: 0 0; }
}

#qrContainer {
	display: none;
	position: absolute;
	top: 0; left: 0;
	right: 0; bottom: 0;
	background-color: rgb(255,255,255);
	z-index: 1;
}
#qrContainer #btnStopScan {
	position: absolute;
	bottom: 2%;
	right: 2%;
	left: 2%;
}
#qrScanner {
	border: none !important;
}
#checkResult {
	display: none;
	position: fixed;
	top: 0; left: 0;
	right: 0; bottom: 0;
	padding: 5%;
	margin: 10% 20%;
	z-index: 2;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	color: white;
	background-color: gray;
	border-radius: 4px;
	box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
	align-items: center;
	justify-content: center;
}
#checkResult.green {
	color: white;
	background: #03B05A;
}
#checkResult.yellow {
	color: black;
	background: rgb(250,200,0);
}
#checkResult.red {
	color: white;
	background: #CE3201;
}
#qrContainer.active {
	display: block;
}
#checkResult.active {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
#checkResultCode {
	font-family: monospace;
	font-size: 140%;
}
#html5-qrcode-anchor-scan-type-change {
	display: none !important;
}


/*** MOBILE DEVICE SUPPORT ***/
@media only screen and (max-width: 720px) {
	.flex > button {
		padding: 8px;
		min-width: auto;
	}
	#checkResult {
		margin: 0 0 25% 0;
		border-radius: 0px 0px 20px 20px;
	}
	.adminForm {
		grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
	}
	.adminForm > #btnQrLink {
		grid-column: 1/3;
	}
	.adminForm > #btnSave {
		grid-column: 1/3;
	}
	th.actions, td.actions {
		white-space: wrap;
	}
}


/*** DARK MODE SUPPORT ***/
@media (prefers-color-scheme: dark) {
	.toggler {
		border: 1px solid #232323;
		background-color: black;
	}
	.toggler a.active {
		color: white;
		background-color: #008397;
	}

	.progressbar-container > .progresstext {
		background: linear-gradient(to right, black var(--progress,0%), white 0);
		-webkit-background-clip: text;
		background-clip: text;
	}
	.progressbar {
		background-color: #444444;
	}
	.progressbar > .progress {
		background-color: #008397;
	}

	#qrContainer {
		background-color: rgb(30,30,30);
	}
	#qrScanner__scan_region > img {
		filter: brightness(0) invert(1);
	}
}
