/*** GENERAL ***/
* {
	box-sizing: border-box;
}
html, body {
	font-family: "Ubuntu", "Corbel", "Helvetica", "SegoeUI", sans-serif;
	font-size: 12pt;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100%; margin: 0px;
	background-image: url("../img/bg.jpg");
}
#container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 0px 35px 0px;
	min-height: 100%;
}
#splash {
	width: 680px;
	padding: 40px;
	border-radius: 2px;
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
	animation: anim_splash_in 0.6s ease;
	background-size: cover;
	background-position: center;
	position: relative;
}
#foot {
	margin-top: 5px;
	text-align: center;
	font-size: 80%;
	opacity: 0.8;
	color: white;
	text-shadow: 0px 0px 2px black;
}
#foot a {
	color: inherit;
}
.hidden {
	display: none;
}
.fullwidth {
	width: 100% !important;
}
.autowidth {
	width: auto !important;
}
a {
	color: #2D75B4;
}
div.contentbox {
	z-index: 0;
}
div.contentbox > * {
	z-index: 1;
}
div.contentbox > img.contentbox-embleme,
div.contentbox.small > img.contentbox-embleme {
	position: absolute;
	bottom: -25px;
	left: -25px;
	width: 220px;
	opacity: 0.08;
	pointer-events: none;
	transform: rotate(-15deg);
	z-index: -1;
}

#tblReservation {
	border-collapse: separate;
	border-spacing: 2px;
}
table th {
	text-align: left;
}
.multiinput {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3px;
}
.multiinput > input, .multiinput > select {
	flex-grow: 1;
	flex-basis: 1px;
}
.multiinput > input[type=date] {
	flex-basis: 75px;
	min-width: 25px;
}
.multiinput > input[type=time] {
	flex-basis: 5px;
	min-width: 25px;
}
#tblReservation .multiinput.captcha {
	flex-wrap: wrap-reverse;
	justify-content: center;
}

form.reservation label {
	margin: 15px 0px;
}
form.reservation label.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
form.reservation label * {
	flex-grow: 1;
}
form.reservation button {
	float: right;
	font-weight: bold;
}

img#logo {
	float: right;
	margin: 0px 0px 10px 10px;
	max-width: 15%;
}
#splash h1:first-of-type {
	margin-top: 0px;
}
.monospace {
	font-family: monospace;
}

/*** FLEXBOX ***/
.login-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}
.login-flex > input {
	flex-grow: 1;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.flex.col {
	flex-direction: column;
	align-items: stretch;
}
.flex input,
.flex select,
.flex textarea {
	flex-grow: 1;
	width: auto;
}
.flex textarea {
	height: 250px;
	resize: vertical;
}
.flex.wrap {
	align-items: start;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2px;
}
.flex.wrap > * {
	flex-grow: 0;
}

/*** INFOBOX ***/
.infobox > ul {
	padding-left: 20px;
	margin: 5px 0px 0px 0px;
}
.infobox {
	padding: 0.5em 0.6em;
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px #ddd;
	border-radius: 4px;
	margin-bottom: 10px;
	color: white;
	font-weight: bold;
	/* default background */
	background: repeating-linear-gradient(
		45deg,
		#5A98C9,
		#5A98C9 10px,
		#4A8DC5 10px,
		#4A8DC5 20px
	);
}
.infobox.gray {
	background: repeating-linear-gradient(
		45deg,
		rgb(150,150,150),
		rgb(150,150,150) 10px,
		rgb(130,130,130) 10px,
		rgb(130,130,130) 20px
	);
}
.infobox.green {
	background: repeating-linear-gradient(
		45deg,
		#03964D,
		#03964D 10px,
		#03B05A 10px,
		#03B05A 20px
	);
}
.infobox.yellow {
	color: black;
	background: repeating-linear-gradient(
		45deg,
		rgb(250,200,0),
		rgb(250,200,0) 10px,
		rgb(250,220,0) 10px,
		rgb(250,220,0) 20px
	);
}
.infobox.red {
	background: repeating-linear-gradient(
		45deg,
		#CE3201,
		#CE3201 10px,
		#EC3901 10px,
		#EC3901 20px
	);
}
.infobox a {
	color: inherit;
	text-decoration: underline;
}

/*** INPUT ***/
label * {
	vertical-align: middle;
}
input:not([type=radio]), button, select, textarea, a.button {
	outline: 0;
	color: inherit;
	padding: 9.5px;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	width: 210px;
	background-color: white;
	vertical-align: middle;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
}
input.small {
	width: 180px;
}
input[type="submit"], input[type="reset"], button, a.button {
	width: auto;
}
input[type="checkbox"] {
	width: auto;
	box-shadow: none;
}
input[type="color"] {
	height: 45px;
}
input[type="text"]:focus, input[type="password"]:focus,
input[type="number"]:focus, input[type="time"]:focus,
input[type="date"]:focus, input[type="week"]:focus,
input[type="color"]:focus, input[type="email"]:focus,
select:focus, textarea:focus {
	border-color: #129FEA;
}
input[type="submit"], input[type="reset"], button, a.button {
	text-align: center;
	font-size: 100%;
	padding: 9px 16px;
	color: rgb(50,50,50);
	background-color: #E6E6E6;
	text-decoration: none;
	border-radius: 2px;
	cursor: pointer;
}
button > img, a.button > img {
	height: 20px;
	vertical-align: middle;
	margin-bottom: 1px;
	pointer-events: none;
}
input[type="submit"]:hover, input[type="reset"]:hover, button:hover, a.button:hover {
	filter: alpha(opacity=90);
	background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
input[type="submit"]:focus, input[type="reset"]:focus, button:focus, a.button:focus,
input[type="submit"]:active, input[type="reset"]:active, button:active, a.button:active {
	box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
	border-color: #000;
}
input[disabled], button[disabled], select[disabled], textarea[disabled], a.button.disabled,
input[readonly], select[readonly], textarea[readonly] {
	box-shadow: none !important;
	background-color: #eee;
	color: #777;
	border-color: #ccc;
	background-image: none;
}
input[disabled], button[disabled], select[disabled], textarea[disabled], a.button.disabled {
	cursor: not-allowed;
}
.nostyle, .nostyle:focus, .nostyle:active, .nostyle:hover {
	padding: 0px;
	background: transparent;
	background-color: transparent;
	border: 1px solid transparent;
	box-shadow: none;
}

/*** MOBILE DEVICE SUPPORT ***/
@media(max-width: 700px) {
	body {
		font-size: 11pt;
	}
	.login-flex {
		flex-direction: column;
		align-items: stretch;
	}
	.login-flex input,
	.login-flex button {
		width: auto;
	}
}

/*** ANIMATION DEFINITIONS ***/
@keyframes anim_splash_in {
	from { transform: scale(1, 0.95); opacity: 0.6; }
	to { transform: scale(1, 1); opacity: 1; }
}

/*** MOBILE DEVICE SUPPORT ***/
@media only screen and (max-width: 720px) {
	#splash {
		width: 100% !important;
		padding: 20px !important;
	}
	#container {
		padding-top: 0;
	}
}

/*** DARK MODE SUPPORT ***/
@media (prefers-color-scheme: dark) {
	body {
		color: white;
	}
	#splash {
		background-color: rgb(30,30,30);
	}
	input:not([type=radio]), select, textarea {
		background-color: rgb(22,22,22);
		box-shadow: inset 0 1px 3px black;
		border: 1px solid rgb(75,75,75);
	}
	.infobox {
		box-shadow: 0 1px 3px black;
		border-color: rgb(100, 100, 100);
	}
	input[type="submit"], input[type="reset"], button, a.button {
		color: rgb(250,250,250);
		background-color: #444444;
		border: 1px solid rgb(100, 100, 100);
		box-shadow: inset 0 1px 6px rgba(10,10,10,0.15)
	}
	input[disabled], button[disabled], select[disabled], textarea[disabled], a.button.disabled,
	input[readonly], select[readonly], textarea[readonly] {
		background-color: rgb(44, 44, 44);
		color: rgb(200,200,200);
		border-color: rgb(80, 80, 80);
	}
}
