<?php

/*** DATABASE CONFIGURATION ***/
const DB_TYPE = 'mysql';
const DB_HOST = 'localhost'; // enter your database server address here
const DB_NAME = ''; // enter your database name here
const DB_USER = ''; // enter your database username here
const DB_PASS = ''; // enter your database password here


/*** ADMIN AREA CONFIGURATION ***/
const ADMIN_USERNAME = ''; // choose a username for the admin area - must be non-empty!
const ADMIN_PASSWORD = ''; // choose a password for the admin area - must be non-empty!


/*** RESERVATION CONFIGURATION ***/

// title for the web page
const TITLE = 'Ticketreservierung Testkonzert';

// description for the web page - can contain HTML markup
const DESCRIPTION = '
	<p>Über dieses Portal können Sie Tickets für das Testkonzert am
	<b>Samstag, den 01. März 2000 um 17.00 und 19.30 Uhr</b> reserviert werden.</p>
	<p>Nach Absenden des Formulars wird ein <b>QR-Code</b> an die angegebene E-Mailadresse gesendet, <b>dies ist Ihre Eintrittskarte</b>! Bitte heben Sie diese E-Mail unbedingt auf. Der Code ist am Eingang vorzuzeigen und das Eintrittsgeld von <b>XX Euro</b> ist dort zu bezahlen.</p>
';


/*** INVITATION MAIL DESIGN ***/

// choose an appropriate sender name and email
const INVITATION_MAIL_SENDER_NAME = 'OrgTeam';
const INVITATION_MAIL_SENDER_MAIL = 'tickets@example.com';
const INVITATION_MAIL_REPLY_TO    = 'orgteam@example.com';

/*
   mail subject and body
   you can use the following placeholders:
   $$TITLE$$    --> page title as defined above
   $$EVENT$$    --> title of the chosen event as defined above
   $$START$$    --> start date/time of the chosen event as defined above
   $$END$$      --> end date/time of the chosen event as defined above
   $$LOCATION$$ --> location of the chosen event as defined above
   $$CODE$$     --> random generated code (the QR code content, for manual input on checkin)
   $$QRCODE$$   --> HTML <img> element with the QR code
   $$REVOKELINK$$ --> Link for ticket cancellation
*/
const INVITATION_MAIL_SUBJECT  = 'Online-Ticket für $$TITLE$$';
const INVITATION_MAIL_TEMPLATE = '
<html>
	<body>
	<p>Vielen Dank für die Reservierung eines Online-Tickets für:</p>
	<h2>$$TITLE$$</h2>
	<p><b>Datum und Zeit: $$EVENT$$</b></p>
	$$QRCODE$$
	<p>Bitte heben Sie diese E-Mail unbedingt auf. Der Code ist am Eingang vorzuzeigen und das Eintrittsgeld von <b>XX Euro</b> ist dort zu bezahlen. Falls der QR-Code nicht funktioniert, nennen Sie am Einlass den Code <b>$$CODE$$</b>.</p>
	<p>Im Anhang finden Sie eine Termineinladung. Diese können Sie mit Ihrer Kalender-App öffnen, um das Konzert direkt in den Kalender einzutragen.</p>
	<br><br><br>
	<p><small>Klicken Sie <a href="$$REVOKELINK$$">hier</a>, wenn Sie Ihr Ticket stornieren möchten.</small></p>
	</body>
</html>
';
